<h1>Cocktail view</h1>

<p><%= @cocktail.name %></p>
<%= image_tag @cocktail.picture.url(:medium) %>
<% @cocktail.doses.each do |dose| %>
  <p><%= dose.description %>: <%= dose.ingredient.name %>
    <%= link_to 'Delete', dose_path(dose), method: :delete %></p>
  <% end %>
<p><%= link_to 'Add dose', new_cocktail_dose_path(@cocktail.id) %></p>
<p><%= link_to 'Return to Cocktails view', cocktails_path %></p>


<!-- DELETE /cocktails/:cocktail_id/doses/:id(.:format)      doses#destroy -->
